Binaries
Build
DerivedDataCache
Intermediate
Platforms/HoloLens
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/

Plugins/Developer/RiderLink/

Nakatomi.sln.DotSettings.user
